<template>
<view>
	<view class="uni-padding-wrap uni-common-mt main">
		<view class="n1">
			<view><button @click="jia">+</button></view>
			<view class="input"><input type="text" v-model="number1" /></view>
			<view><button @click="jian">-</button></view>
		</view>
		<view>
			<view class="jf">+</view>
		</view>
		<view class="n2">
			<view><button @click="jia2">+</button></view>
			<view class="input"><input v-model="number2"/></view>
			<view><button @click="jian2">-</button></view>
		</view>
		<view>
			<view class="dy">=</view>
		</view>
		<view class="res">
			<view>{{result}}</view>
		</view>
	</view>
</view>
</template>

<script>
	import Mock from 'mockjs';
	import Request from '../../js_sdk/luch-request/request.js';
	Mock.mock('test/request',{'data':{'number1':1,'number2':10},code:'200'})
	export default {
		data() {
			return {
				number1:0,
				number2:0
			}
		},
		created:function(){
		    // uni.request({
		    //     url: 'https://www.example.com/request', //仅为示例，并非真实接口地址。
		    //     data: {
		    //     },
		    //     header: {
		    //         'custom-header': 'hello' //自定义请求头信息
		    //     },
		    //     success: (res) => {
		    // 				this.number1 = res.data.number1;
		    // 				this.number2 = res.data.number2;
		    //     }
		    // });
			const http = new Request();
			http.get('test/request', {
			    params: {}, /* 会加在url上 */
			    header: {'custom-header': 'hello'}, /* 会覆盖全局header */
			    dataType: 'json',
			    // 注：如果局部custom与全局custom有同名属性，则后面的属性会覆盖前面的属性，相当于Object.assign(全局，局部)
			    custom: {auth: true,code:true}, // 可以加一些自定义参数，在拦截器等地方使用。比如这里我加了一个auth，可在拦截器里拿到，如果true就传token
			    // #ifndef MP-ALIPAY || APP-PLUS
			    responseType: 'text',
			    // #endif
			    // #ifdef MP-ALIPAY
			    timeout: 30000, // 仅支付宝小程序支持
			    // #endif
			    // #ifdef APP-PLUS
			    sslVerify: true, // 验证 ssl 证书 仅5+App安卓端支持（HBuilderX 2.3.3+）
			    // #endif
			    // 返回当前请求的task, options。请勿在此处修改options。非必填
			    getTask: (task, options) => {
			         // setTimeout(() => {
			         //   task.abort()
			         // }, 500)
			    }
			}).then(res => {
				if(res.data.code == '200'){
					this.number1 = res.data.data.number1;
					this.number2 = res.data.data.number2;
				}else{
					this.number1 = res.data.data.number1 + 5;
					this.number2 = res.data.data.number2 + 5;
				}
			}).catch(err => {
			
			})
		},
		computed:{
			result: function(){
				return parseInt(this.number1) + parseInt(this.number2)
			}
		},
		onReady() {
			
		},
		methods:{
			jia(){
				this.number1 = parseInt(this.number1)+1
			},
			jian(){
				this.number1 = parseInt(this.number1)-1
			},
			jia2(){
				this.number2 = parseInt(this.number2)+1
			},
			jian2(){
				this.number2 = parseInt(this.number2)-1
			}
		}
	}
</script>

<style>
	*{
		padding: 1rpx;
	}
	.main{
		display: flex;
		flex-wrap: wrap;
		justify-content:center;
		align-content: flex-start;
		width: 750rpx;
		height: 375rpx;
	}
	.n1,.n2{
		display: flex;
		flex-wrap: nowrap;
		justify-content:center;
		width: 300rpx;
		height: 100rpx;
		background-color: rgb(248, 248, 248);
		border-radius: 30rpx;
	}
	button{
		width: 100rpx;
		height: 100%;
	}
	.input{
		width: 100rpx;
	}
	.input input{
		width: 100%;
		line-height: 100%;
		height: 100%;
		text-align: center;
	}
	.jf,.dy,.res{
		height: 100rpx;
		line-height: 100rpx;
		background-color: rgb(248, 248, 248);
	}
	.res{
		width: 55rpx;
	}
</style>
