<template>
<view>
	<view class="uni-padding-wrap uni-common-mt ">
	<view class="uni-flex uni-row fix">
		<view class="flex-item"><button @click="jia">+</button></view>
		<view class="flex-item"><input class="inputnum" type="text" v-model="number" /></view>
		<view class="flex-item"><button @click="jian">-</button></view>
	</view>
	<view class="uni-flex uni-row fix">
		<view class="flex-item">+</view>
	</view>
	<view class="uni-flex uni-row fix">
		<view class="flex-item"><button @click="jia2">+</button></view>
		<view class="flex-item"><input class="inputnum" type="text" v-model="number2"/></view>
		<view class="flex-item"><button @click="jian2">-</button></view>
	</view>
	<view class="uni-flex uni-row fix">
		<view class="flex-item">||</view>
	</view>
	<view class="uni-flex uni-row fix">
		<view class="flex-item">{{result}}</view>
	</view>
	</view>
</view>
</template>

<script>
	export default {
		data() {
			return {
				number: 0,
				number2: 0
			}
		},
		computed:{
			result: function(){
				return parseInt(this.number) + parseInt(this.number2)
			}
		},
		methods:{
			jia(){
				console.log(this.number);
				this.number = parseInt(this.number)+1
			},
			jian(){
				this.number = parseInt(this.number)-1
			},
			jia2(){
				this.number2 = parseInt(this.number2)+1
			},
			jian2(){
				this.number2 = parseInt(this.number2)-1
			}
		}
	}
</script>

<style>
	.fix{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content:center;
	}
	.fix button{
		height: 100%;
		width: 55rpx;
		font-size: 40rpx;
		text-align: center;
	}
	.inputnum{
		height:100%;
		line-height:100%;
		text-align: center;
		font-size: 40rpx;
		vertical-align:middle;
	}
</style>
